<!DOCTYPE html>
</body>
</html>
<html ng-app="Hermes">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Hermes</a>
        </div>
    </nav>

    <!-- Main Window -->
    <div class="container">
        <div id="unauthenticated" class="form-group">
            <button id="google" class="btn btn-danger" type="button">Sign in with Google</button>
            <button id="twitter" class="btn btn-info" type="button">Sign in with Twitter</button>
        </div>
        <section id="messages" ng-controller="MessageCtrl as messageCtrl">
            <div id="authenticated" class="hide">
                <p id="loggedIn">Logged in via {{ provider | capitalize }}. 
                    <a href="#" id="logout" class="pull-right">Log Out</a>
                </p>
            </div>
            <div class="panel panel-default messages">
                <div class="panel-body">
                    <p ng-repeat="message in messages">
                        <img class="avatar" ng-src="{{ message.url }}" alt="{{ message.nick }}'s profile picture">
                        <span class="username">{{ message.nick }}</span>
                        <span class="message">{{ message.message }}</span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Type message as {{ nick }}</label>
                <input type="text" placeholder="Message" class="form-control" id="message" aria-label="Message" ng-model="messageText" ng-keypress="($event.which === 13) ? addMessage() : 0"></textarea>
                <p class="text-muted">Press Enter to Send</p>
            </div>
        </section>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script src="script.js"></script>
</body>
</html>