doctype
html
    head
        title= "ZChat Web Chat"
        link(rel='stylesheet' href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        link(rel='stylesheet' href="/style.css")
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        .jumbotron
            .container
                h1 zChat&nbsp;
                    small A Kickass Chat Client from Zero Daedalus
                p#browserWarning.alert.alert-danger Quit using a shitty browser to save username
                .input-group
                    label.input-group-addon Username
                        span#current.text-muted
                    input#username.form-control(placeholder="Username")
                    .input-group-btn
                        button#update.btn.btn-warning Update
        .container
            #content.well
            #controls
                .input-group
                    input#field.form-control(placeholder="Type Message Here" type='text')
                    .input-group-btn
                        button#send.btn.btn-success(type='button') Send
