.time {
    font-size: .75em;
    color: #777;
}

.username {
    font-weight: bold;
}

.message {
    display: block;
    padding-left: .9em;
}

.messages {
    height: 30em;
    overflow: hidden;
}

.avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin: .4em;
}

#provider {
    font-weight: bold;
    font-style: italic;
}

#logout {
    font-weight: bold;
}