.time {
    // float: left;
    font-size: .75em;
    color: #777;
}

.username {
    font-size: 1.3em;
}

.message {
    display: block;
    padding-left: 1.5em;
}

textarea {
    resize: none;
}

.messages {
    height: 40em;
}