.time {
    // float: left;
    font-size: .75em;
    color: #777;
}

.username {
    font-weight: bold;
}

.message {
    display: block;
    padding-left: .9em;
}

.messages {
    height: 30em;
    overflow: hidden;
}